body {
	text-align:center;
	margin:0;
	padding:0;
}

.top{
	background-color:#d1fde9;

}
#logo span {
	background-color:#bbe3c6;
	font-style:italic;

}

#logo {
	display: inline-block;
}

#connect4 {
	background-color: yellow;
	dipslay: inline-block;
	margin-top:300px;
	cursor:auto;
}

.col {
	width:70px;
	height:70px;
	display:inline-block;
	background-color:white;
	border-radius:50%;
	margin:5px;
}

.col.empty{
	cursor:pointer;
}

.next-red {
	background-color:rgb(230, 42, 98);
}

.next-black{
	background-color:rgb(47, 22, 23);
}
.col.red {
	background-color:red;
}

.col.black {
	background-color:black;
}
.menu {
	overflow: hidden !important;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left !important;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#turn {
	display:none;
}

#loginform{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.top {
	background-color:#333;
}

.top img {
	max-width:10%;
	max-height:10%;
	float:left;
}


#instructions {
	background-color:#00A4A4;
	display:block;
	float:left;
}
#cointainer {
	display: table;
	float:left;
	width:100%;
	min-height:350px;
}
#ratings {
	background-color:#f0f8ff;
	float:left;
	width:50%;
	min-height:300px;
}

#configuration {
	background-color:8b8878;
	float:left;
	width:50%;
	min-height:300px;
}

.table-cell {
	display:table-cell;
}

#waitingCanvas {
	border:1px solid #000000;
	width: 50%;
	height:100px;
	background-color:#ffffff;
	position: fixed;
  display: none;
	z-index: 2;
	background-color: rgba(244,177,66,0.5);
	margin:20%;
}

#layer6,#layer7,#layer8{
	position:absolute;
	width: 100 px;
	height: 100 px;
	margin-top:20%;
}
.anim_8{
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-transform-origin:50px 50px;
	-webkit-animation-name:animation_6;
	-webkit-animation-timing-function: linear;
-moz-animation-timing-function: linear;
-moz-animation-duration: 1.5s;
-moz-animation-name: animation_6;
 -moz-transform-origin:50px 50px;
 -moz-animation-iteration-count:infinite ;
-o-animation-timing-function: linear;
 -o-animation-duration: 1.5s;
 -o-animation-name: animation_6;
 -o-transform-origin:50px 50px;
  -o-animation-iteration-count:infinite ;}
@-webkit-keyframes animation_6{
0%{ -webkit-transform:  rotate(0deg)  ;}
100%{ -webkit-transform:  rotate(360deg)  ;}
}
@-o-keyframes animation_6{
0%{ -o-transform:  rotate(0deg)  ;}
100%{ -o-transform:  rotate(360deg)  ;}
}

@-moz-keyframes animation_6{
0%{ -moz-transform:  rotate(0deg)  ;}
100%{ -moz-transform:  rotate(360deg)  ;}
}
